<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["OM.MFPTrackerV1.Web.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
@*     <CascadingAuthenticationState>
        <Routes @rendermode="InteractiveServer" />
    </CascadingAuthenticationState> *@
    <CascadingAuthenticationState>
        <Routes />
    </CascadingAuthenticationState>

    <!-- Chart.js -->
    <script src="lib/chartjs/chart.umd.min.js"></script>

    <!-- Your chart interop -->
    <script src="js/chartInterop.js"></script>

    <!-- Other scripts -->
    <script src="js/auth.js"></script>
    <script src="@Assets["lib/bootstrap/dist/js/bootstrap.bundle.min.js"]"></script>
    <script src="_framework/blazor.web.js"></script>



</body>
</html>